<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log In</title>
        <meta charset="utf-8"/>
        style
            include ./CSS/index.css
    </head>
    
    <body>
        <div class ="capsule">

            <h1>Mission 2 Go</h1>

            <h3>"Go and make disciples of all the nations</h3>

            <div>

                <form action="login" method="POST">
                    <label for="user">Username: </label>
                        <input id="user" type="text" name="user" required/><br><br>
    
                    <label for="pass">Password: </label>
                        <input id="pass" type="password" name="pass" required/><br><br>
                
                    <input type="Submit" value="Sign In">

                </form>

                <a href="/registration">Need to register?</a>

            </div>

        </div>
    </body>
</html>