<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Project Teams Record Editor</title>
        <meta charset="utf-8"/>
        style
            include ./CSS/editRecord.css

    </head>

    <body>
        <br />
        <br />
        <br />

        <h1> Edit Record </h1>
        <br />
        <br />
        
        <table>
            <tr>
                <th>Team Name</th> 
                <th>Country</th> 
                <th>Days</th> 
                <th>Arrival Date</th> 
                <th>Depart Date</th> 
                 
            </tr>

            <tr>
                <td><input type = "text" name = "newTeamName" required></td> 
                <td><input type = "text" name = "newCountry" required></td> 
                <td><input type = "text" name = "newDays"></td> 
                <td><input type = "text" name = "newArrivalDate" required></td> 
                <td><input type = "text" name = "newDepartDate" required></td> 
            </tr>

            <tr>
                <th># Mem</th> 
                <th>Project Name</th> 
                <th>FName</th> 
                <th>Project Money</th> 
                <th>Sum Of USD</th>
            </tr>

            <tr>
                <td><input type = "text" name = "newNumTeamMemb" required></td> 
                <td><input type = "text" name = "newProjectID" required></td> 
                <td><input type = "text" name = "newFName" required></td> 
                <td><input type = "text" name = "newProjectMoney" required></td> 
                <td><input type = "text" name = "newSumOfUSD" required></td>
            </tr>

        </table>
        
        <br />

        <input type="Submit" value="Save Changes">

    </body>
</html>