<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration</title>
        <meta charset="utf-8"/>
        style
            include ./CSS/registration.css
    </head>
    <body>
        <nav>
            <a href ="/">Log In</a>
        </nav>

        <div>

            <h1> Mission 2 Go Registration</h1>

            <form action="register" method="POST">
                <label for="newUser">New User Username: </label>
                    <input id="newUser" type="text" name="newUser" required><br><br>
    
                <label for="newPass">New User Password: </label>
                    <input id="newPass" type="text" name="newPass" required><br><br>
    
                <label for="newEmail">New User Email: </label>
                    <input id="newEmail" type="text" name="newEmail" required><br><br>
    
                <input type="Submit" value="Register">
            </form>
        </div>
    </body>
</html>
